.dest {
    background-color: tomato;
}

.domain {
    position: relative;
    background-color: darkcyan;
    top: -22px;
    left: 172px;
}

.description {
    display: block;
    width: 70px;
    position: relative;
    top: -946px;
    left: 340px;
    background-color: skyblue;
}

.port {
    display: block;
    background-color: saddlebrown;
    position: relative;
    top: -968px;
    left: 500px;
    width: 100px;
}

.description2 {
    display: block;
    background-color: silver;
    position: relative;
    top: -990px;
    left: 610px;
    width: 100px;
}
